#topic-header {
	font-size: 28px;
	color: #990000;
	background-color: #000080;
	border-radius: 8px 8px 0px 0px;
	border-bottom: 0.25em solid #000080;
	text-align: center;
}

#blog-index-image {
	max-width: 40%;
	margin: auto;
}

#image-wrapper {
	max-width: 40%;
	margin: auto;
	background-color: #990000;
	padding: 20px;
	border: 20px solid #000080;
	display: flex;
	justify-content: center;
	border-radius: 12px;
}

#post-list {

}

.topic-container {
	max-width: 40%;
	margin: auto;
	background-color: #990000;
	border-radius: 12px;
	border: 0.25em solid #000080;
}

.post-item {
	border-bottom: 0.125em solid #000080;
	padding: 0.15em;
	margin-left: 0.15em;
	margin-right: 0.15em;
}

.post-anchor {
	font-size: 18px;
	color: #0000ff;
}
