#master-container {
	max-width: 60%;
	margin: auto;
	background-color: #008000;
	padding: 12px;
	padding-top: 0px;
	border-radius: 12px;
	border: 8px solid #bfff80;
}

.guestbook-input {
	background-color: #cccc00;
	color: black;
	border-color: greenyellow;
}

.guestbook-input::placeholder {
	color: whitesmoke;
}

.guestbook-input:focus {
	box-shadow: 0 0 0 0.125em greenyellow;
}
