{% extends 'blog/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
{% if posts %}
    <div>
        <div>
            <h2>Select a topic</h2>
            <ul>
                {% for post in posts %}
                    <li><a href="/blog/posts/{{ post.genre }}">{{ post.genre }}</a></li>
                {% endfor %}
                <li><a href="all">all</a></li>
            </ul>
        </div>
    </div>
{% endif %}
{% endblock %}
