{% extends 'blog/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
{% if posts %}
    <div class="topic-container">
        <div>
            <h2 id="topic-header">Select a topic</h2>
            <ul id="post-list">
                <li class="post-item"><a href="/blog/posts/all" class="post-anchor">All</a></li>
                {% for post in posts %}
                    <li class="post-item"><a href="{% url 'posts_genre' post.genre %}" class="post-anchor">{{ post.genre }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    <div class="topic-container">
        <h1>There are no posts to show ¯\_(ツ)_/¯</h1>
    </div>
{% endif %}
<br>


    <div id="image-wrapper">
        <img id="blog-index-img" src="{% static 'blog/grandma.jpg' %}"  alt="A beautiful drawing of my grandma" width="450" height="600">
    </div>

{% endblock %}
