{% extends 'blog/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/registery-form.css' %}">
{% endblock %}

{% block content %}
<div id="registery-form-container">
	<form id="registery-form" action="{% url 'login' %}" method="post">
		{% csrf_token %}
		<div class="field">
		  <label class="label">Username</label>
		  <div class="control">
		    <input name="username" class="input registery-input" type="text" placeholder="name mcnameface">
		  </div>
		</div>

		<div class="field">
		  <label class="label">Password</label>
		  <div class="control">
		    <input name="password" class="input registery-input" type="password" placeholder="************">
		  </div>
		</div>

		<div class="field is-grouped">
		  <div class="control">
		    <input style="margin-left: 4px; background-color: #ffff99;" class="button" type="submit" value="Submit">
		  </div>
		  <div class="control">
		    <button
		    	id="cancel-form-button"
		    	class="button"
		    	style="background-color: #ff9999;"
		    	onclick="history.back()"
		    >Cancel</button>
		  </div>
		</div>
	</form>
	{% if form.errors %}
		<p style="color:red">{{ form.errors }}</p>
	{% endif %}
</div>
{% endblock %}
