{% extends 'blog/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/post-data.css' %}">
{% endblock %}

{% block content %}
<div id="post-data-master">
	<h2 id="post-title">{{ post.title }}</h2>
	{% if post.image_address %}
		<img id="post-image" src="{{ post.image_address }}" alt="cool artwork or image associated with the article">
	{% endif %}
	{% if post.content %}
		<section id="post-section">
			<p id="post-content">{{ post.content }}</p>
		</section>
	{% endif %}
	{% if comments %}
		<div>
			<button id="see-comments">See Comment</button>
			<a href="/" id="add-see-comment">Add Comment</a>
		</div>
		<script type="text/javascript">
			const commentBtn = document.querySelector('#see-comments')
			commentBtn.addEventListener('click', (e) => {
				console.log('clicked!')
				const commentSection = document.querySelector('#comments-container')
				commentSection.style.display = 'block'
			})
		</script>
	{% else %}
		<div>
			<a href="/" id="add-no-see-comment">Add Comment</a>
		</div>
	{% endif %}
</div>
{% if comments %}
	<br>
	<div id="comments-container">
		<h2 id="comments-header">Comments</h2>
		<div id="comment container">
			{% for comment in comments %}
				<section id="comment-{{ comment.id }}" class="comment-section">
					<p class="comment-author"><strong>Written by: {{ comment.author.display_name }}</strong></p>
					<p class="comment-content">{{ comment.content }}</p>
					<p class="comment-date"><em>{{ comment.last_edited }}</em></p>
				</section>
			{% endfor %}
		</div>
	</div>
{% endif %}
<br>
{% endblock %}
