{% extends 'blog/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/post-data.css' %}">
{% endblock %}

{% block content %}
<div id="post-data-master">
	<h2 id="post-title">{{ post.title }}</h2>
	{% if post.image_address %}
		<img id="post-image" src="{{ post.image_address }}" alt="cool artwork or image associated with the article">
	{% endif %}
	{% if post.content %}
		<section id="post-section">
			<p id="post-content">{{ post.content }}</p>
		</section>
	{% endif %}
	{% if comments %}
		<div id="button-container">
			<button id="see-comments">See Comments</button>
			<div id="blackbar"></div>
			<a href="/" id="add-comment" class="comment-anchor">Add Comment</a>
		</div>
	{% else %}
		<div id="button-container">
			<a href="/" id="add-no-comment" class="comment-anchor">Add Comment</a>
		</div>
	{% endif %}
</div>
{% if comments %}
	<br>
	<div id="comments-container">
		<h2 id="comments-header">Comments</h2>
		<div id="comment-container">
			{% for comment in comments %}
				<section id="comment-{{ comment.id }}" class="comment-section">
					<p class="comment-author"><strong>Written by: {{ comment.author.display_name }}</strong></p>
					<p class="comment-content">{{ comment.content }}</p>
					<p class="comment-date"><em>{{ comment.date_pub }}</em></p>
				</section>
			{% endfor %}
			<section id="see-more-sec">
				<button id="see-more-btn">See more</button>
			</section>
		</div>
	</div>
	<script src="{% static 'blog/post-data.js' %}"></script>
{% endif %}
<br>
{% endblock %}
