{% extends 'blog/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/post-data.css' %}">
{% endblock %}

{% block content %}
<div id="post-data-master">
	<h2 id="post-title">{{ post.title }}</h2>
	{% if post.image_address %}
		<img id="post-image" src="{{ post.image_address }}" alt="cool artwork or image associated with the article">
	{% endif %}
	{% if post.content %}
		<section id="post-section">
			<p id="post-content">{{ post.content }}</p>
		</section>
	{% endif %}
	{% if comments %}
		<div id="button-container">
			<button id="see-comments">See Comments</button>
			<div id="blackbar"></div>
			<button id="add-comment">Add Comment</button>
		</div>
	{% else %}
		<div id="button-container">
			<button id="add-comment">Add Comment</button>
		</div>
	{% endif %}
</div>

<br>

<div id="comment-form-container">
	<form id="comment-form" action="/blog/{{ post.id }}" method="post">
		{% csrf_token %}
		<div style="margin-top: 4px;" class="field">
		  <label class="label comment-label">Message</label>
		  <div class="control">
		    <textarea name="comment" class="textarea comment-input" placeholder="Place a message here!"></textarea>
		  </div>
		</div>

		<div class="field is-grouped">
		  <div class="control">
		    <input style="margin-left: 4px; background-color: #ffff99;" class="button" type="submit" value="Submit">
		  </div>
		  <div class="control">
		    <button
		    	id="cancel-form-button"
		    	class="button"
		    	style="background-color: #ff9999;"
		    >Cancel</button>
		  </div>
		</div>

	</form>
</div>

{% if comments %}
	<br>
	<div id="comments-container">
		<h2 id="comments-header">Comments</h2>
		<div id="comment-container">
			{% for comment in comments %}
				<section id="comment-{{ comment.id }}" class="comment-section">
					<p class="comment-author"><strong>Written by: {{ comment.author.display_name }}</strong></p>
					<p class="comment-content">{{ comment.content }}</p>
					<p class="comment-date"><em>{{ comment.date_pub }}</em></p>
				</section>
			{% endfor %}
			<section id="see-more-sec">
				<button id="see-more-btn">See more</button>
			</section>
		</div>
	</div>
	<script src="{% static 'blog/post-data.js' %}"></script>
{% endif %}
<br>
{% endblock %}
