{% extends 'blog/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/registery-form.css' %}">
{% endblock %}

{% block content %}
<div id="registery-form-container">
	<form id="registery-form" action="/blog/register" method="post">
		{% csrf_token %}
		<div class="field">
		  <label class="label">Email</label>
		  <div class="control">
		    <input name="email" class="input registery-input" type="email" placeholder="email@email.com">
		  </div>
		</div>

		<div class="field">
		  <label class="label">Display Name</label>
		  <div class="control">
		    <input name="display-name" class="input registery-input" type="text" placeholder="Johnifery Doener">
		  </div>
		</div>

		<div class="field">
		  <label class="label">First Name</label>
		  <div class="control">
		    <input name="first-name" class="input registery-input" type="text" placeholder="John">
		  </div>
		</div>

		<div class="field">
		  <label class="label">Last Name</label>
		  <div class="control">
		    <input name="last-name" class="input registery-input" type="text" placeholder="Doe">
		  </div>
		</div>

		<div class="field">
		  <label class="label">Date of Birth</label>
		  <div class="control">
		    <input name="dob" class="input registery-input" type="date" placeholder="11/22/3333">
		  </div>
		</div>

		<div class="field">
		  <label class="label">Password</label>
		  <div class="control">
		    <input name="password" class="input registery-input" type="password" placeholder="************">
		  </div>
		</div>

		<div class="field is-grouped">
		  <div class="control">
		    <input style="margin-left: 4px; background-color: #ffff99;" class="button" type="submit" value="Submit">
		  </div>
		  <div class="control">
		    <button
		    	id="cancel-form-button"
		    	class="button"
		    	style="background-color: #ff9999;"
		    >Cancel</button>
		  </div>
		</div>
	</form>
</div>
{% endblock %}
