{% extends 'blog/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/user-account.css' %}">
{% endblock %}

{% block content %}
<div id="master-container">
	<section id="user-section">
		<h1 id="user-header">{{ page_author.username }}</h1>
		{% if page_author.image_address %}
			<img src="{{ page_author.image_address }}" alt="user chosen avatar">
		{% endif %}
		{% if page_author.bio %}
			<p id="bio">{{ page_author.bio }}</p>
		{% endif %}
	</section>
	<br>
	<section id="comment-section">
		<h2 id="container-header">Comments</h2>
		<div id="comment-master">
			<!-- we will use dynamic pagination like with other comments. -->
			{% for comment in comments %}
				<div class="comment-container">
					<section id="main-content">
						<p>{{ comment.content }}</p>
						<p class="pub-date">{{ comment.date_pub }}</p>
					</section>
					{% if user.id == page_author.id %}
						<section id="alterations-section">
							<button>Update</button>
							<button>Delete</button>
							<form id="update-form" action="PUT">
								{% csrf_token %}
								<textarea></textarea>
								<button type="submit">Submit</button>
							</form>
							<form id="delete-form" action="DELETE">
								{% csrf_token %}
								<button>Confirm</button>
								<button type="submit">Cancel</button>
							</form>
						</section>
						<br>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</section>
</div>
{% endblock %}
