{% extends "splash/base.html" %}

{% block title %}Guestbook{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'splash/guestbook.css' %}">
{% endblock %}

{% block content %}
<form id="master-container" action="/guestbook" method="post">
	{% csrf_token %}
	<div class="field">
	  <label style="margin-top: 4px;" class="label">Name</label>
	  <div class="control">
	    <input name="name" class="input guestbook-input" type="text" placeholder="What's your name?">
	  </div>
	</div>

	<div class="field">
	  <label class="label">Location</label>
	  <div class="control">
	    <input name="location" class="input guestbook-input" type="text" placeholder="Where are you from?">
	  </div>
	</div>

	<div class="field">
	  <label class="label">Message</label>
	  <div class="control">
	    <textarea name="comment" class="textarea guestbook-input" placeholder="Place a message here!"></textarea>
	  </div>
	</div>

	<div class="field is-grouped">
	  <div class="control">
	    <input class="button is-success" type="submit" value="Submit">
	  </div>
	  <div class="control">
	    <button class="button is-link is-warning" onclick="history.back()">Cancel</button>
	  </div>
	</div>
</form>
{% endblock %}
