{% extends "splash/base.html" %}

{% block content %}
<div id="homepage-master" class="">
	<div id="home-container" class="section p-0">
		<h1 id="splash-header">Welcome to my page! Here's a little about me</h1>
		<div class="columns is-centered is-variable is-4 is-multiline">
			<div class="column is-full-tablet is-half-desktop">
				<div id="selfie-container">
					{% load static %}
					<img class="selfie" src="{% static 'splash/home.jpg' %}"  alt="A picture of me" width="250" height="400">
					<img class="selfie" src="{% static 'splash/home2.jpg' %}" alt="A picture of me" width="250" height="400">
				</div>
			</div>
			<div id="bio-container" class="column is-full-tablet is-half-desktop">
				<p id="early-life" class="bio-p">
					I was born and raised in northern Illinois. I grew up in a husk of a small town that, at one point, was a pretty nice place to be. Growing up, I really liked to go fishing, playing video games, riding bikes out on paths. One thing that had a huge impact on me was my uncle giving me an iMac G3. It was one of the blue-ish green ones. The screen lighting up unraveled a whole new world to me.
				</p><br>
				<p id="early-adulthood" class="bio-p">
					I really loved school, but I didn't have any money after I graduated high school. Being from a small town, I was dying to move away, so I joined the Army. I was lucky enough to be stationed in Schofield Barracks, Hawaii. After a little under four years in the infantry, I got out with the plan of becoming a history teacher. I graduated from the University of Illinois with a BA in History and a minor in French.
				</p><br>
				<p id="professional-life" class="bio-p">
					I spent a year as an assistant teacher in Riberac, France to see if I enjoyed teaching. I did, but I decided that it wasn't the correct career  path for me. I'd rather be the student than the teacher. Afterwards, I moved back to my small hometown. I worked for a year in a steel mill to save money. Then, I took a full stack bootcamp to learn to develop software and further delve into my interest in computers. Unfortunately, post-Covid lay offs slowed down my career progress. On the bright side, I did find a job implementing software in a hospital. In the meantime, I've been further enhancing my knowledge base by study data structures and algorithms, devops, linux, and object oriented programming.
				</p>
			</div>
		</div>
	</div>
	<div id="interest-master" class="section level">
		<div id="interest-container" class="level-item">
			<h2 id="interest-header" class="pr-6 mr-6 mb-3">Current Interests:</h2>
			<ul id="interest-list-container">
				<li class="pb-2 interest-items">
					Raspberry Pi Clusters
					<button id="interest-button1" class="button is-small is-light is-success">↓</button>
				</li>
				<div class="detail-container">
					<p id="interest-details1" class="hidden-details">
						I have recently gotten really interested in Raspberry Pis. Although I haven't done anything really cool with mine yet, I plan on using it as a home server. I've been using mine as a stand-in daily driver while wait to repair my desktop. I would also like to buy a few more of them and run them in a cluster using Kubernetes. From there I would like to have my own native cloud. Some other ideas that I have with it is to run a home CCTV. Mainly, I would just like to use them to keep ahold of my own data.
					</p>
				</div>
				<li class="pb-2 interest-items">
					Data Structures
					<button id="interest-button2" class="button is-small is-light is-warning">↓</button>
				</li>
				<div class="detail-container">
					<p id="interest-details2" class="hidden-details">
						I'm currently learning data structures to be able to more effeciently write code. Business logic of apps is something that I would like to be in the middle of. This is essential to do that. I also just find it really interesting. Afterwards, I would like to brush back up on my statistical skills. Then maybe move on to some discrete mathmatics.
					</p>
				</div>
				<li class="pb-2 interest-items">
					Drawing Portraits
					<button id="interest-button3" class="button is-small is-light is-danger">↓</button>
				</li>
				<div class="detail-container">
					<p id="interest-details3" class="hidden-details">
						Believe it or not, I have some other interests besides tech. I really enjoy drawing portraits, and some of them even turn out pretty good. One day, I might even be confident, good and fast enough to open up a little stall at a farmers market or something. In the mean time, you can check out my work in my blog!
					</p>
				</div>
				<li class="pb-2 interest-items">
					Fishing and Gardening
					<button id="interest-button4" class="button is-small is-light is-danger">↓</button>
				</li>
				<div class="detail-container">
					<p id="interest-details4" class="hidden-details">
						I also do go outside from time-to-time. I really enjoy growing food in my garden and fishing. Bass or crappie will do, but I really enjoy catfishing--at the slough, not on facebook... Plus, the river bank is a much better place to drink a beer than a bar. Hopefully, you can see some of what I can cultivate in the blog. I'm going to try to keep track of a spreadsheet document to get some insights too! Maybe I can run some pepper expirements.
					</p>
				</div>
			</ul>
		</div>
	</div>
</div>
<script src="{% static 'splash/index.js' %}" type="text/javascript"></script>
{% endblock %}